# Environments
.venv/
.env/

# IDE
.idea/

# Python
*__pycache__*
*.pyc

# Runtime data
results/*
uploads/*

# Pre-trained models (too large for Git, use download_models.py)
experiments/pretrained_models/*.pth

# OS
.DS_Store
Thumbs.db
