fastapi
uvicorn
python-multipart
pydantic
torch==1.11.0+cpu
torchvision==0.12.0+cpu
torchaudio==0.11.0
numpy==1.23.5
lmdb
scipy
PyYAML
tqdm
requests
opencv-python
pillow
pillow_heif
imageio
scikit-image
tifffile
gdown

